html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header,
footer {
  background-color: var(--color-background-light);
}

main {
  background-color: var(--color-background-dark);
  flex: 1;
}

h1 {
  font-family: var(--font-heading-type);
  font-size: var(--font-heading-sm);
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--color-background-light);
}

main p,
a,
h2,
h3 {
  color: var(--font-color-font-black);
}

h2,
h3 {
  font-family: var(--font-heading-type);
}

p,
a,
li,
span,
address {
  font-family: var(--font-body-type);
}

summary {
  font-family: var(--font-heading-type);
  color: var(--col);
  cursor: pointer;
}

.card-green {
  border-radius: var(--radius-card);
  border: var(--border-stroke-green);
  box-shadow: var(--drop-shadow-green);
  overflow: hidden;
  background-color: var(--color-background-light);
}

.card-orange {
  border-radius: var(--radius-card);
  border: var(--border-stroke-orange);
  box-shadow: var(--drop-shadow-orange);
  overflow: hidden;
  background-color: var(--color-background-light);
}

.card-yellow {
  border-radius: var(--radius-card);
  border: var(--border-stroke-yellow);
  box-shadow: var(--drop-shadow-yellow);
  overflow: hidden;
  background-color: var(--color-background-light);
}

.exhibition-cards,
.exhibition-card-wide {
  border-radius: var(--radius-card);
  border: var(--border-stroke-yellow);
  box-shadow: var(--drop-shadow-yellow);
  overflow: hidden;
  background-color: var(--color-background-light);
}

.event-cards {
  border-radius: var(--radius-card);
  border: var(--border-stroke-orange);
  box-shadow: var(--drop-shadow-orange);
  overflow: hidden;
  background-color: var(--color-background-light);
}

summary:focus,
a:focus,
button:focus {
  outline: 2px solid var(--accent-color-orange);
  outline-offset: 2px;
}
