/* LOGO/BANNER */
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  gap: 20px;
}

.banner img {
  width: 80px;
  height: 80px;
}

.logo-writing {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo-name {
  font-size: var(--font-heading-sm);
  font-family: "quicksand", sans-serif;
  color: var(--font-color-font-black);
  display: flex;
  align-items: flex-start;
}

.logo-slogan {
  color: #3fa752;
  font-size: var(--font-heading-xsm);
  font-family: "quicksand", sans-serif;
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}

/* NAVIGATION BAR */
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  background-color: var(--color-background-dark);
  height: 80px;
  width: 100%;
  padding: 20px;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--radius-input);
  text-align: center;
  height: 25px;
  width: 180px;
}

.search-container {
  order: 2;
}

.home {
  order: 1;
  margin-left: 15px;
}

.home i {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  color: var(--color-background-light);
}

.hamburger {
  order: 3;
  margin-right: 15px;
}

.hamburger i {
  color: var(--color-background-light);
  font-size: 2rem;
  cursor: pointer;
}

.menu-toggle {
  display: none;
}

.nav-links {
  display: none;
}

.nav-links a {
  text-decoration: none;
}

.nav-links li {
  color: var(--color-background-light);
  text-decoration: none;
  font-family: var(--font-body-type);
  padding: 10px;
}

.menu-toggle:checked + .hamburger + .nav-links {
  display: flex;
  flex-direction: column;
  background-color: var(--color-background-dark);
  position: absolute;
  top: 40px;
  right: 0;
  width: 100%;
}
